<source>
  @type tail
  format json
  path {{sensor_data_path}}/{{sensor_log_name}}
  pos_file {{sensor_data_path}}/{{sensor_log_name}}.pos
  tag sensor.data
</source>
<match sensor.data>
  @type copy
  <store>
    @type elasticsearch
    host {{elasticsearch_host_ip}}
    port {{elasticsearch_host_port}}
    type_name {{elasticsearch_type_name}}
    index_name {{elasticsearch_index_name}}
    logstash_format true
    logstash_prefix {{elasticsearch_logstash_prefix}}
    logstash_dateformat %Y.%m.%d
    flush_interval {{elasticsearch_flush_interval}}
  </store>
## debug
#  <store>
#    @type file
#    path {{sensor_data_path}}/{{sensor_log_name}}.debug.log
#  </store>
</match>